html { overflow-y: scroll; }

.settings-btn {
	position: fixed;
	bottom: 4.4rem;
	right: 1.25rem;
	z-index: 10;
	padding-top: 0rem;
	padding-bottom: 0.6875rem;
	padding-left: 0.6875rem;
	padding-right: 0.6875rem;
	background-color: #243b55;
	border-radius: 0.3125rem;
}

/* Back to top button*/
#toTopBtn {
    position: fixed;
    bottom: 1.4rem;
    right: 1.25rem;
    z-index: 10;
	padding-top: 0rem;
	padding-bottom: 0.6875rem;
	padding-left: 0.6875rem;
	padding-right: 0.6875rem;
    background-color: #243b55;
    border-radius: 0.3125rem;
}

.js .cd-top--fade-out { opacity: .5 }

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s;
}

#digital-clock {
    font-family: Calibri;
    font-size: 16px;
    color: #c0c0c0;
}

::selection{
    color: #000;
    background: #90caf9;
}

body {
    background-image: url("https://editor-builder.netlify.app/assets/imgs/background-img1.png");
    background-repeat: repeat;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.donothighlight {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

code {
    background-color: #eee;
}

.historybutton {
    font-size: 1.1875rem;
    color: #555;
}

.historybutton:hover { color: #555; }

.historybutton:active {
    background-color: transparent;
    color: #555;
    outline: none;
    box-shadow: 1px #555;
}

.navbar{
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to left, #141e30, #243b55);
    border-radius: 0.250rem 0.250rem 0 0;
    max-height: 45px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.nav-link{
    color: #e0e0e0 !important;
}

.nav-link:hover{
    color: #f2f2f2 !important;
}

.main-card { border-radius: 0; }

.section-overflow {
    max-height: 33vh;
    overflow-y: auto;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #cccccc !important;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Section heading background / divider */
.heading-bg {
    display: block;
    padding: 4px;
    background: #64b5f6;
}

.heading-bg-text {
    margin-top: 7px;
}

/* The glow on focus on the accordion component*/
.accordion-button {
    outline: none;
    box-shadow:none !important;
}

.accordion-overflow-limit {
    max-height: 50vh;
    overflow-y: scroll;
}

.white-background-modal { background: #fafafa; }

.modal-body { border-radius: 0.275rem; }

.modal-body a, li { color: #222; }

.modal-body a:hover { color: #888; }

.modal-opacity {
    background-color: #23272a !important;
    opacity: .98;
}

.modal-custom-title { color: #222; }

.bg-footercustom {
	background: #654ea3;
	background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
	background: linear-gradient(to left, #141e30, #243b55);
	border-radius: 0 0 0.250rem 0.250rem;
}

.open-btn {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
	text-align: center;
	padding: 7px;
	color: #000;
	text-decoration: none;
    outline: 1px solid #111;
    width: 90%;
}

.open-btn:hover{
    background-color: #fafafa !important;
    color: #222 !important;
    outline: 1px solid #111;
    box-shadow: none !important;
}

.open-btn:active {
    background-color: #fafafa !important;
    color: #111 !important;
    -ms-transform: scale(0.97);
	-webkit-transform: scale(0.97);
	transform: scale(0.97);
}