<!doctype html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Crypto Ticker</title>
	<link rel="stylesheet" href="../stylesheets/bootstrap5.min.css">
	<link rel="stylesheet" href="../icons/bootstrap/bootstrap-icons.css" />
	<script src="../scripts/bootstrap.bundle.min.js"></script>
	<script src="../scripts/jquery-3.5.1.min.js"></script>
	<script src="../scripts/2.2.4.jquery.min.js"></script>
	<noscript><meta http-equiv="refresh" content="0; URL=../index.html"></noscript>
	<link rel="shortcut icon" type="image/png" href="../favicons/eden-logo.svg" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap">
	<script src="../eden/_externals/scripts/others/idle.js" defer></script>

	<style>
        .coinmarketcap-currency-widget {
            background-color: #fbfbfb;
        }
	</style>

	<script>
        const X6k66ER4q6Nu2Ar43tTwKnPGM7SKtBs8qJrZYe4DpFcjSMDBbju9AcdFArhhhH4g7PdSTqN73xFjeU84BXZFJNVqzsEKrjfrNBXE973Es6VZzZNCfdDz2j5KQL8FVqvT = ["editor", "ivma", "carissentd"]; const fmc2C5zrhYDy6T8RrgwvLSsLjxzgZVp92qcHT7UHWdvKxXgVuvt4YpqYrPPUNWQmkgEk3VQeP6FpRzpAM8mtzPGeTq4fANYwckF34LAMWzhpbLsYyMxUzNfhp2E6DZzL = ["eden", "ix101", "essirac27"]; if (X6k66ER4q6Nu2Ar43tTwKnPGM7SKtBs8qJrZYe4DpFcjSMDBbju9AcdFArhhhH4g7PdSTqN73xFjeU84BXZFJNVqzsEKrjfrNBXE973Es6VZzZNCfdDz2j5KQL8FVqvT.includes(localStorage["mUALK9nMxj29jUagswfC"]) && fmc2C5zrhYDy6T8RrgwvLSsLjxzgZVp92qcHT7UHWdvKxXgVuvt4YpqYrPPUNWQmkgEk3VQeP6FpRzpAM8mtzPGeTq4fANYwckF34LAMWzhpbLsYyMxUzNfhp2E6DZzL.includes(localStorage["TQE2dSBNJDPZW4XNdFXd"])) {} else { window.open("../../index.html","_self"); }
	</script>

</head>

<body>

    <div class="container">
        <!-- MATIC -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="3890" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>

        <!-- BTC -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>

        <!-- ETH -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="1027" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>

        <!-- USDT -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="825" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>

        <!-- BNB -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="1839" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>

        <!-- XRP -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="52" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>

        <!-- ADA -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="2010" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>

        <!-- DOGE -->
        <div class="coinmarketcap-currency-widget mt-2 mx-2" data-currencyid="74" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>
    </div>

    <br><br>
    <script src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
    <script src="../scripts/bootstrap5.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JYP9L4D8PY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'G-JYP9L4D8PY');
    </script>

</body>

</html>