input {
  height: 30px;
  margin: auto;
  box-shadow: var(--black-box-shadow);
  outline: 0;
  border: none;
  font-family: var(--default-font);
  font-size: 25px;
  color: var(--default-text);
  display: block;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#required-input-islander-name {
  font-size: 1rem;
  color: var(--red);
}

.location-headers {
  position: absolute;
  right: 0;
  font-family: var(--default-font);
  font-size: 1.5rem;
  color: var(--default-text);
  cursor: default;
  background-color: transparent;
  border: none;
}

.nav-back-btn {
  box-shadow: var(--location-box-shadow);
  cursor: pointer;
}

/* .nav-back-btn:hover {
  background-color: #101010;
} */

.ui-btn {
  box-shadow: var(--black-box-shadow);
  font-family: var(--default-font);
  font-size: 1.4rem;
  color: var(--default-text);
  cursor: pointer;
  background-color: var(--yellow);
}

.ui-btn:hover {
  filter: brightness(95%);
}

.ui-btn:active {
  filter: brightness(95%);
  transform: translateY(2px);
}